header{
		width:100%;
		align: center;
		background-image: url("../image/Untitled-14.jpg");
	}
	.col-1{
		width: 40%;
		float: left;
		height:80px;
		font-family: Arial;
		font-weight: bold;
		color: white;
		text-align: center;
		line-height: 80px
	}
	.col2-hidden{
		display: none;
	}
	.col-2{
		width: 60%;
		float: left;
		height:80px;
		font-family: Arial;
		text-align: center;
		color: white;
	}
	.col-2 ul{
		list-style-type: none;
	}
	.col-2 li{
		display: inline-block;
		padding: 15px;
	}
	.header-container{
		height: 600px;
		width: 100%;
	}
	.col-3{
		width:40%;
		padding-left: 10%;
		float: left;
		padding-top: 50px;
		color: white;
		font-family: Arial;
	}
	h1{
		padding-left: 10%;
		font-family: Arial;
		font-size: 30px;
	}
	.col-3 li{
		font-size: 16px;
		padding: 2%;
	}
	.button-why{
		width: 40%;
		height:80px;
		text-align: center;
		border: 1px solid white;
		padding-top: 10px;
		margin-left: 10% 
	}
	.col-4{
		width: 40%;
		padding-top: 50px;
		padding-right: 10%;
		float: left;
		text-align: center
	}
	.img-top{
		width: 100%
	}
	.container-why{
		width: 100%;
		height: 650px;
		background: white;
	}
	.col-5{
		width: 35%;
		padding-left: 10%;
		padding-right: 5%;
		float: left;
		padding-top: 100px;
	}
	.col-6{
		width: 35%;
		padding-right: 10%;
		padding-right: 5%;
		float: left;
		padding-top: 100px;
	}
	.title-why{
		color: #0b3795;
		font-size: 18px;
		font-family: Arial
	}
	.col-6 .why1 p{
		font-family: Arial
		font-size: 14px;
	}
	.container-help{
		width: 100%;
		height: 340px;
		background-image: url("../image/Untitled-15.jpg");
	}
	.container-help a{
		color: white;
		font-family: Arial;
		font-size: 24px;
		text-align: center;
		float: left;
		margin-top: 100px;
		margin-left: 10%;
		margin-right:10%
	}
	.button-help{
		border: 1px solid white;
		width: 20%;
		text-align: center;
		margin-right: 40%;
		margin-left: 40%;
		margin-top:20px;
		color: white;
		font-family: Arial
	}
	.container-solution{
		width: 100%;
		height: 1600px;
	}
	.image-solu1{
		width:20%;
		padding-left: 15%;
		padding-right: 15%;
		float: left;
		padding-top: 50px; 
	}
	.text-solu1{
		float: left;
		width:35%;
		padding-right: 15%;
		padding-top: 50px; 
	}
	.title-solu{
		font-size: 24px;
		color: #0b3795;
		font-family: Arial
	}
	.text-solu1 p{
		font-family: Arial
	}
	.text-solu2 p{
		font-family: Arial
	}
	.image-solu2{
		width:20%;
		padding-left: 5%;
		padding-right: 25%;
		float: right;
		padding-top: 50px; 
	}
	.text-solu2{
		float: left;
		width:35%;
		padding-left: 15%;
		padding-top: 50px; 
	}
	.container-news{
		width:100%;
		height:450px;
	}
	.col-4-1{
		width:16%;
		padding-left: 10%;
		float: left;
		padding-right: 2%
	}
	.col-4-2{
		width:16%;
		padding-left: 2%;
		float: left;
		padding-right: 2%
	}
	.col-4-3{
		width:16%;
		padding-left: 2%;
		float: left;
		padding-right: 2%
	}
	.col-4-4{
		width:16%;
		padding-left: 2%;
		float: left;
		padding-right: 10%
	}
	.img-news{
		width:115%;
		height:150px;
	}
	.col-news{
		padding-top: 20px
	}
	footer{
		width: 100%;
		height:260px;
		background: #0b3795;
	}
	.col-hotline{
		padding-left: 10%;
		width: 50%;
		float: left;
		font-family: Arial;
	}
	.col-about{
		padding-right: 10%;
		width: 30%;
		float: left
	}
	.col-hotline p{
		font-size: 14px;
		color: white;
		width:80%;
	}
	.col-about ul li{
		list-style: none;
		padding-top: 20px;
		color: white
	}
	.container-copyright{
		background: #072e82;
		width: 100%;
		height: 50px
	}
	.col-copyright{
		padding-left: 10%;
		width: 60%;
		float: left;
		font-family: Arial;
		line-height: 50px;
		color: #7d8293;
		font-size: 12px;
	}
	.col-social{
		padding-top: 10px;
		font-size:24px;
		float: left;
	}
	.fa{
		padding-left: 20px;
		color: #9a9a9a;
	}
	@media only screen and (max-width: 600px) {
    	.col-1{
    		font-size: 10px
    	}
    	.col2-display{
    		display: none;
    	}
    	.col2-hidden{
    		display: block;
    		font-size: 20px;
    		padding-top: 30px;
    	}
    	.col-3{
    		width: 100%;
    	}
    	.col-4{
    		display: none;
    	}
    	.image-solu1{
		width:100%;
		float: none;
		padding-top: 50px; 
	}
	.text-solu1{
		float: none;
		width:100%;
	}
	.image-solu2{
		width:100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-left: 20%
	}
	.text-solu2{
		float: none;
		width:100%;
		padding-left: 0;
	}
	.container-solution{
		height: 2700px;
	}
	footer{
		height:340px;
	}
	}
